#main {
  width: 560px;
  height: 560px;
  border: 2px solid black;
  margin: 30px auto;
}

.cell {
  width: 70px;
  height: 70px;
  float: left;
  cursor: pointer
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.blue {
  background-color: #009FD4;
}

.green {
  background-color: #38F689;
}
